.hero {
  // .hero__container

  &__container {
    &.container {
      @media (max-width: 49em) {
        &::after {
          right: -199rem;
          font-size: 24rem;
        }
      }

      &::after {
        content: 'POWERLINE CONNECT';

        position: absolute;
        z-index: -1;
        right: -267rem;
        bottom: 0rem;
        letter-spacing: -1rem;
        white-space: nowrap;
        font-size: 35rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--c-gray);
        opacity: 0.4;
      }
    }
  }

  // .hero__heading

  &__heading {
  }

  // .hero__text

  &__text {
    @media (min-width: 49.01em) {
      max-width: 70rem;
    }
  }

  // .hero__btn

  &__btn {
  }
}
