:root {
  // colors
  --c-bg: #000000;
  --c-primary: #ffffff;
  --c-yellow: #f3ff11;
  --c-gray: #313131;
  --c-dark: #141414;

  // font family
  --ff-main: 'Montserrat';

  // font size

  // typography
  --txt-main: 400 1.6rem / 1.2 var(--ff-main);

  @media (max-width: 49em) {
    --txt-main: 400 3rem / 1.2 var(--ff-main);
  }
}
